* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FAF8EF;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.header {
	position: fixed;
	top: 0;
	left: calc(50% - 275px);
}
.controls {
	width: 550px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px 40px;
	background-color: rgb(160, 187, 218);
	border-radius: 6px;
}
.score__block {
	width: 100px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(151, 151, 151);
	border-radius: 8px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(151, 151, 151);
	border-radius: 6px;
}
.button:hover {
	cursor: pointer;
}
.button__start {
	width: 100px;
	height: 40px;
}
.button__settings {
	position: relative;
	width: 48px;
	height: 48px;
  z-index: 1;
	background-color: transparent;
}

.button__settings:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
	background-image: url('../assets/svg/settings.svg');
	background-position: 0 0;
	background-repeat: no-repeat;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
	transition: 0.5s;
}
.button__settings:hover:before{
	-webkit-transform: rotate(90deg);
  transform: rotate(90deg);
	transition: 0.5s;
}

.button__results {
	position: relative;
  z-index: 1;
	width: 48px;
	height: 28px;
	background-color: transparent;
}

.button__results:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
	background-image: url('../assets/svg/leaderboard.svg');
	background-position: 0 0;
	background-repeat: no-repeat;
}

.field {
	position: relative;
	padding: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
	background-color: #d1d1d1;
	border-radius: 5px;
	z-index: -1;
}

.cell {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #aaacb0;
	border-radius: 3px;

}
.cell-2 {
	background-color:#EF476F
}
.cell-4 {
	background-color:#ef9347
}
.cell-8 {
	background-color:#FFC43D
}
.cell-16 {
	background-color:#bbff3d
}
.cell-32 {
	background-color:#3dff4d
}
.cell-64 {
	background-color:#3dff7e
}
.cell-128 {
	background-color:#06d6c5
}
.cell-256 {
	background-color:#06a5d6
}
.cell-512 {
	background-color:#1283b8
}
.cell-1024 {
	background-color:#cc51f1
}
.cell-2048 {
	background-color:#2448bd
}

.result {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 24px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	transition: opacity 0.5;
}

/* Settings */
.settings { 
	position: absolute;
	z-index: 9999;
	width: 500px;
	height: 400px;
	top: 120px;
	left: calc(50% - 250px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20px;
	background-color: rgba(117, 117, 117, 0.836);
	border-radius: 5px;
	opacity: 0;
	transition: 0.5s;
}
.settings__title {
	align-self: center;
	margin-bottom: 20px;
}
.settings__show {
	opacity: 1;
	transition: 0.5s;
}
.settings__size {
	margin-bottom: 10px;
}
.settings__size-title { 
	margin-right: 10px;
}
.size {
	padding: 4px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
}
.size.active {
	background-color: rgba(255, 255, 255, 0.9);
}
.size:hover {
	background-color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
}
.settings__music-label {
	position: relative;
	cursor: pointer;
}
.settings__music-input { 
	margin-left: 10px;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
}
.settings__music-input:checked ~ .settings__music-checkmark {
	background-color: rgba(255, 255, 255, 0.9);
}
.settings__music-checkmark {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	top: calc(50% - 10px);
	left: calc(100% + 20px);
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.5);
}
.settings__music-checkmark::after {
	content: "";
	position: absolute;
	display: none;
}
.settings__music-input:checked ~ .settings__music-checkmark::after {
	display: block;
	top: 3px;
	left: 2px;
	width: 14px;
	height: 7px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	transform: rotate(-45deg);
	
}

.settings__rules { 
	margin-top: 20px;
	margin-bottom: 20px;
}
.settings__autor { 
	line-height: 36px;
}
.settings__version { 
	line-height: 36px;
}

/* Footer */
.footer {
	width: 100vw;
	position: fixed;
	bottom: 0;
	background-color: #121829;
	color: #A8AEBF;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.footer__body {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.copyright-link {
	margin-left: 20px;
	color: #ebeef5;
	text-decoration: none;
	transition: 0.3s;
}
.rss-link {
	color: #ebeef5;
	text-decoration: none;
	transition: 0.3s;
}
.copyright-link:hover,
.rss-link:hover {
	color: #474e5f;
	transition: 0.3s;
}