* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #000000;
    --color-gold: #bdae82;
    --color-white: #ffffff;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background-color: var(--color-dark);
    color: var(--color-white);
    overflow-x: hidden;
}

.overlay {
    position: relative;
    z-index: 2;
    filter: opacity(50%);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.section {
    padding: 100px 20px 0px 20px;
}
.section.light-theme {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.section-title {
    position: relative;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: var(--color-gold);
    margin-bottom: 60px;
}
.section-title.light-theme {
    color: var(--color-dark);
}

.section-title::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 700px;
    left: calc(50% - 350px);
    top: calc(50% - 1px);
    background-color: var(--color-gold);
    z-index: 0;
}
.section-title.light-theme::before {
    background-color: var(--color-dark);
}

.section-title__text {
    padding: 0px 20px;
    background-color: var(--color-dark);
    position: relative;
    z-index: 1px;
}
.section-title__text.light-theme {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.btn {
    width: 220px;
    height: 55px;
    border: none;
    border-radius: 0px;
    color: var(--color-dark);
    font-family: 'Inter', sans-serif;
    line-height: 40px;
    text-align: center;
    transition: color 0.3s ease-in;
}
.btn:hover {
    cursor: pointer;
    color: var(--color-white);
    transition: color 0.3s ease-in;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
        padding: 80px 60px 0 60px;
    }
    .section-title {
        font-size: 32px;
        line-height: 80px;
    }
    .section-title::before {
        width: 364px;
        left: calc(50% - 182px);
    }
}
@media (max-width: 480px) {
    .section {
        padding: 50px 20px 0;
    }
    .section-title::before {
        width: 280px;
        left: calc(50% - 140px);
    }
}