.footer-container { 
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright { 
    font-family: 'Inter', sans-serif;
    line-height: 50px;
}
.copyright-icon {}
.copyright-info { 
    margin: 0 15px;
}
.copyright-link { 
    text-decoration: none;
    color: var(--color-white);
}
.copyright-link:hover { 
    color: var(--color-gold);
}
.rss { 
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    font-size: 20px;
    margin-left: 18px;
}
.socials-list { 
    padding-top: 5px;
    display: flex;
    list-style: none;
}
.socials-item { 
    margin-left: 20px;
}
.socials-item:first-child { 
    margin-left: 0;
}
.socials-link { }

.icon {
    width: 32px;
    height: 32px;
    fill: var(--color-white);
}

.icon:hover {
    fill: var(--color-gold);
}