.header {
    font-family: 'Inter', sans-serif;
}
.header-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo {
    width: 50px;
    height: 50px;
	background-image: url('../assets/svg/logo-icon.svg');
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
	transition: 0.3s;
}
.logo:hover {
    cursor: pointer;
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
		contrast(87%);
}
.nav {
    margin-left: auto;
    overflow: hidden;
}
.nav-list {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.nav-item {
    margin-right: 31px;
}
.nav-link {
    line-height: 50px;
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.3s;
}
.nav-link:hover {
    color: var(--color-gold);
}
.switch-lng {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.lang {
    font-weight: bold;
    line-height: 50px;
}
.lang:first-child {
    margin-right: 9px;
}
.lang:last-child {
    margin-left: 9px;
}
.lang.current {
    color: var(--color-gold);
}

@media (max-width: 768px) {
    .header-container {
        padding: 20px 64px 20px 60px;
    }
    .nav {
        width: 620px;
        min-height: 100vh;
        padding: 134px 20px 20px 127px;
        position: absolute;
        top: 0;
        right: -620px;
        z-index: 1;
        overflow: hidden;
        background-color: var(--color-dark);
        transition: right 0.3s linear;
    }
    .nav_active {
        right: 0px;
        transition: right 0.3s linear;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .nav-item {
        margin-bottom: 16px;
    }
    .nav-link {
        font-size: 35px;
        line-height: 73px;
    }

    .switch-lng {
        margin-left: auto;
        margin-right: 20px;
    }
    .lang:last-child {
        margin-left: 20px;
    }
}
@media (max-width: 620px) {
    .nav {
        width: 100vw;
    }
}
@media (max-width: 480px) {
    .header-container {
        padding: 20px 20px;
    }
    .nav {
        padding-left: 60px;
    }
}