.section-hero { 
    margin-top: -90px;
    padding: 250px 80px 330px 80px;
    background: url('../assets/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
.hero-title { 
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    margin: 0;
}
.hero-text { 
    font-family: 'Inter', sans-serif;
    line-height: 40px;
    max-width: 470px;
    margin: 10px 0px 25px;
}
.hero-button { 
    background-color: var(--color-gold);
}

@media (max-width: 768px) {
    .section-hero {
        padding: 168px 60px 152px 60px;
        background-size: auto 620px;
        background-position: -5px -30px;
    }
    .hero-title {
        font-weight: normal;
        font-size: 32px;
        line-height: 64px;
    }
    .hero-text {
        max-width: 390px;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        margin: 20px 0px 60px;
    }
}

@media (max-width: 480px) {
    .section-hero {
        padding: 128px 20px 112px 20px;
    }
}