.portfolio-title {
    padding-top: 1px;
}
.portfolio-btns { 
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
}
.portfolio-btn { 
    width: 220px;
    height: 55px;
    border: 2px solid var(--color-gold);
    background-color: transparent;
    border-radius: 0px;
    color: var(--color-gold);
    font-family: 'Inter', sans-serif;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease-in;
}
.portfolio-btn:hover {
    color: var(--color-white);
    transition: color 0.3s ease-in;
}
.active {
    background-color: var(--color-gold);
    color: var(--color-dark);
    transition: color 0.3s ease-in;
}
.portfolio-items { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    cursor: pointer;
}
.portfolio-item { 
    width: 450px;
    height: 560px;
}


@media (max-width: 1440px) {
    .portfolio-items { 
        justify-content: center;
    }

}
@media (max-width: 992px) {
    .portfolio-btns { 
        flex-wrap: wrap;
        padding: 0 15vw;
    }
}
@media (max-width: 768px) {
    .portfolio-btns { 
        padding: 0;
    }
}
@media (max-width: 480px) {

}