.portfolio-title {
    padding-top: 1px;
}
.portfolio-btns { 
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
}

.portfolio-btn { 
    width: 220px;
    height: 55px;
    border: 2px solid;
    border-color: var(--color-gold);
    background-color: transparent;
    border-radius: 0px;
    color: var(--color-gold);
    font-family: 'Inter', sans-serif;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.portfolio-btn:hover, .portfolio-btn:focus {
    box-shadow: inset 0 0 0 2em var(--color-gold);
    color: var(--color-white);
    transition: 0.4s;
}

.portfolio-btn.light-theme {
    color: var(--color-dark);
}
.portfolio-btn.light-theme:hover, .portfolio-btn.light-theme:focus {
    background-color: var(--color-gold);
    color: var(--color-white);
    transition: 0.4s;
}
.active {
    background-color: var(--color-gold);
    color: var(--color-dark);
    box-shadow: inset 0 0 0 2em var(--color-gold);
    transition: 0.4s;
}
.portfolio-items { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    cursor: pointer;
}
.portfolio-item { 
    width: 450px;
    height: 560px;
}

@media (max-width: 1440px) {
    .portfolio-items { 
        justify-content: center;
    }

}
@media (max-width: 992px) {
    .portfolio-btns { 
        flex-wrap: wrap;
        padding: 0 15vw;
    }
}
@media (max-width: 768px) {
    .portfolio-title {
        padding-top: 0;
        margin-bottom: 50px;
    }
    .portfolio-btns { 
        padding: 0;
    }
}
@media (max-width: 480px) {
    .portfolio-item { 
        width: 100%;
        height: auto;
    }
    .portfolio-photo {
        width: 100%;
    }
}