.video-player { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-image {

}
.player-btn { 
    width: 130px;
    height: 130px;
    position: absolute;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    border: none;
    background-color: transparent;
    background-image: url('../assets/svg/play-icon.svg');
    background-position: center;
    background-size: cover;
    transition: filter 0.3s ease-in;
}
.player-btn:hover {
    cursor: pointer;
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
		contrast(87%);
    transition: filter 0.3s ease-in;
}

@media (max-width: 1440px) {
    .player-image {
        width: 100vw;
    }
}
@media (max-width: 992px) {
    .player-btn { 
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }
}
@media (max-width: 768px) {
    .player-image {
        width: auto;
        height: 418px;
    }
    .player-btn { 
        width: 65px;
        height: 65px;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
    }
}
@media (max-width: 480px) {

}